@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #efefef;
  font-size: 14px;
  min-height: 100dvh;
}

button {
  @apply bg-red-600 hover:bg-red-700 px-4 py-2;

  color: white;
  cursor: pointer;
  border-radius: .25rem;
}

button.outlined {
  @apply text-blue-600 hover:text-blue-700 hover:bg-transparent;

  background: none;
}

select,
input[type="date"] {
  @apply border mt-1 border-neutral-200 bg-neutral-50 p-2 rounded-md text-neutral-800;

  outline: none;
  display: block;
  width: 100%;
}

select:focus,
input[type="date"]:focus {
  @apply border-red-600;
}

input[type="checkbox"] {
  @apply accent-red-600;
}