@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  * {
    @apply border-slate-200;
    transition: all 300ms;
  }

  html,
  body {
    background-color: #efefef;
    font-size: 14px;
    min-height: 100dvh;
  }

  button {
    @apply bg-red-600 hover:bg-red-700 px-6 py-2 rounded-full;

    height: fit-content;
    color: white;
    cursor: pointer;
  }

  button.flat {
    @apply text-slate-400 p-0 hover:text-slate-600 hover:bg-transparent;

    background: none;
  }

  input {
    outline: none;
  }

  select,
  input[type="date"] {
    @apply border mt-1 bg-slate-50 p-2 rounded-md text-slate-800;

    display: block;
    width: 100%;
  }

  select:focus,
  input[type="date"]:focus {
    @apply border-red-600;
  }

  input[type="checkbox"] {
    @apply accent-red-600;
  }
}